
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?6rhmas');
    src:  url('../fonts/icomoon.eot?6rhmas#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?6rhmas') format('truetype'),
      url('../fonts/icomoon.woff?6rhmas') format('woff'),
      url('../fonts/icomoon.svg?6rhmas#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    // speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-dostepnosc:before {
    content: "\e900";
  }
  .icon-kontakt:before {
    content: "\e901";
  }
  .icon-ulubione:before {
    content: "\e902";
  }
  .icon-profil:before {
    content: "\e903";
  }
  .icon-wikszo:before {
    content: "\e904";
  }
  .icon-mniejszo:before {
    content: "\e905";
  }
  .icon-koszyk:before {
    content: "\e906";
  }
  .icon-play:before {
    content: "\e907";
  }
  .icon-widok_01:before {
    content: "\e908";
  }
  .icon-widok_02:before {
    content: "\e909";
  }
  .icon-wysylka:before {
    content: "\e90a";
  }
  .icon-x:before {
    content: "\e90b";
  }

  @font-face {
    font-family: Metropolis;
    src: url(../fonts/Metropolis-Bold.otf);
  }

  @font-face {
    font-family: Metropolis-Light;
    src: url(../fonts/Metropolis-Light.otf);
  }

  @font-face {
    font-family: Metropolis-Regular;
    src: url(../fonts/Metropolis-Regular.otf);
  }
  
  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{

    height: 100%;
    width: 100%;
    background-color: #fff;
    
   
}
header{
    position: relative;
    font-family: "Metropolis";
    height: 140px;
    width: 100%; 
    background-color: white;
    border-bottom: 1px solid #E1E2E8;
   .link_contact{
    position: absolute;
    left: 50%;
    top:30%;
    text-decoration: none;
    color: #000;
  }
  .logo {
    position: absolute;
    left:1%;
    top: 20%;
    height: 70px;
    width: 230px;
   }
   .icon-kontakt {
    position: absolute;
    top: 3%;
    right:5%;
    font-size: 40px;
    padding: 5px;
   }
   .Contcat{
    position: absolute;
    top: 20px;
    width: 200px;
    font-size: 20px;
   }
   .link_fav{
    position: absolute;
    left: 60%;
    top:31%;
    text-decoration: none;
    color: #000;
    
   }
   .icon-ulubione{
    position: absolute;
    top: 3%;
    right:5%;
    font-size: 40px;
    padding: 5px;
   }
   .Fav{
    position: absolute;
    top: 20px;
    width: 200px;
    font-size: 20px;
   }

   .link_profil{
    position: absolute;
    left: 70%;
    top:30%;
    text-decoration: none;
    color: black;
    
   }
   .icon-profil{
    position: absolute;
    top: 3%;
    right:5%;
    font-size: 40px;
    padding: 5px;
   }
   .Profil{
    position: absolute;
    top: 20px;
    width: 200px;
    font-size: 20px;
   }
   
   .basket-squere{
     position: absolute;
     left: 93%;
     top:35%;
     display: flex;
     justify-content:right;
     .text_basket{
       position: absolute;
       left: 28%;
       top: 10%;
       display: inline-block;
       font-size: 20px;
       
      }
      .icon-koszyk{
        position: absolute;
        left:6%;
        top:10%;
      }
      .basket{
        position: absolute;
        display: inline-block;
        font-size: 40px;
        border: 1px solid #E1E2E8; ;
        width: 300px;
        height: 55px;
      }
      .header__squere{
       position: absolute;
       right:650%;
       top: 13%;
       width: 26px;
       height: 14px;
       background-color: #9BCB3B;
       border-radius: 2px;
       z-index: 5;
      }
      .header__squere--text{
        position: absolute;
        top: 15%;
        left: 13%;
        color: white;
        font-size: 10px;
      }
      .header__basket--price{
        position: absolute;
        right: 255%;
        top: 55%;
        width: 100px;
        font-family: 'Metropolis-Light';

      }
      .arowr{
        position: relative;
        background-color: #9BCB3B;
        width: 35px;
        height: 55px;
        .icon-wikszo{
          position: absolute;
          top:35%;
          left:30%;
          color: #fff;

        }
        
      }
    }
 }
 nav{
  display: flex;
  flex-direction: row;
  font-family: "Metropolis";
  text-transform: uppercase;
  border-bottom: 1px solid #E1E2E8; ;
  width: 100%;
  height: 57px;
  justify-content: space-around;
  align-items:center;
 
  .tab{
    display: flex;
    flex-direction: row;
    padding: 40px;
  }
  .link{
    text-decoration: none;
    color: #000;
  }
  
 }
 main{
  position: relative;
  height: 2491px;
  width: 100%;
  background-color: #F2F3F4;

.showroom{
background-image: url(../photos/img_01.jpg);
position: absolute;
left: 1% ;
top: 2%;
height: 595px;
width: 1860px;
cursor: pointer;
}
.main__slaider--bg{
  background-color: rgba($color: #000000, $alpha: 0.5);
  height: 595px;
  width: 1860px;
}
.arrow_left{
  position: absolute;
  top:42%;
  left:0%;
  background-color: rgba($color: #fff, $alpha: .3);
  border: none;
  height: 50px;
  width: 50px;
  cursor: pointer;
}
.arrow_right{
  position: absolute;
  top:42%;
  right:.0%;
  background-color:rgba($color: #fff, $alpha: .5);
  border: none;
  height: 50px;
  width: 50px;
}
.more_btn{
  position: absolute;
  top: 66%;
  left: 7%;
  background-color:rgba($color: #000000, $alpha: 0);
  height: 55px;
  width: 210px;
  color: #fff;
  text-transform: uppercase;
  padding: 1%;
  border: 1px solid white;
  transition: 1s;
  cursor: pointer;
}
.more_btn:hover{
background-color: #F74137;
border: none;
}
.headline{
  position: absolute;
  top:28% ;
  left: 7%;
  color: #fff;
  font-size: 44px;
  font-family: 'Metropolis';

}
.subheading{
  position: absolute;
  left: 6.8%;
  top: 36%;
  color: #fff;
  font-size: 44px;
  font-family: 'Metropolis-Light';
}
.text_headline{
  position: absolute;
  top: 48%;
  left: 7%;
  color: #fff;
  font-size: 22px;
  width: 400px;
  font-family: 'Metropolis-Regular';
  line-height: 130%;

}
.tile1{
  position: absolute;
  top: 27%;
  left: 1%;
  width: 600px;
  height: 400px;
  background-image: url(../photos/img_02.jpg);
  }
}

.tile2{
  position: absolute;
  top: 27%;
  left: 34%;
  width: 600px;
  height: 400px;
  background-image: url(../photos/img_03.jpg);
}

.tile3{
  position: absolute;
  top: 27%;
  left: 66.7%;
  width: 600px;
  height: 400px;
  background-image: url(../photos/img_05.jpg);
}

.section__tile--bg{
  background-color:rgba($color: #000, $alpha: .5);
  width: 600px;
  height: 400px;
}

.tile1_text1,.tile1_text2,.tile2_text1,.tile2_text2,.tile3_text1,.tile3_text2{
  color: #fff;
  font-size: 44px;
}
.tile1_text1,.tile2_text1,.tile3_text1{
  position: absolute;
  left: 8%;
  top: 29%;
  font-family: 'Metropolis';
}
.tile1_text2,.tile2_text2,.tile3_text2{
  position: absolute;
  top: 42%;
  left: 8%;
  font-family: 'Metropolis-Light';
}
.more_btn2{
  position: absolute;
  top: 66%;
  left: 7%;
  background-color:rgba($color: #000000, $alpha: 0);
  height: 55px;
  width: 210px;
  color: #fff;
  text-transform: uppercase;
  padding: 1%;
  border: 1px solid white;
  transition: 1s;
  cursor: pointer;
}
.more_btn2:hover{
  background-color: #F74137;
  border: none;
}

.headline2{ 
  position: absolute;
  top: 45%;
  left: 38%;
  width: 1920px;
  height: 71px;
  // border-bottom: 1px solid black;
}
.headline2{
  position: absolute;
  left: 0%;
  border-bottom: 1px solid #E1E2E8;
  height: 126px;
  width: 100%;
  
}
.red__bottom{
  position: absolute;
  top: 49.7%;
  left: 46.5%;
  width: 70px;
  height: 10px;
  border-bottom: 4px solid #F74137;
  z-index: 5;
}
.section3__headline--text{
  position: absolute;
  left: 38%;
  top: 25%;
  font-family: 'Metropolis';
  font-size: 44px;
  
}
.section3__bulb{
  position: absolute;
  top: 52%;
  left: 1%;
  height: 530px;
  width: 356px;
  background: #fff;
}
.section3__bulb2{
  position: absolute;
  top: 52%;
  left: 21%;
  height: 530px;
  width: 356px;
  background: #fff;
}
.section3__bulb3{
  position: absolute;
  top: 52%;
  left: 41%;
  height: 530px;
  width: 356px;
  background: #fff;
}
.section3__bulb4{
  position: absolute;
  top: 52%;
  left: 61%;
  height: 530px;
  width: 356px;
  background: #fff;
}
.section3__bulb5{
  position: absolute;
  top: 52%;
  left: 81%;
  height: 530px;
  width: 356px;
  background: #fff;
}

  .section3__text{
    position: absolute;
    top: 75%;
    left: 20%;
    font-size: 14px;
    font-family: 'Metropolis';
  }
  .section3__text2{
    position: absolute;
    top: 79%;
    left: 25%;
    font-size: 14px;
    font-family: 'Metropolis-Regular';
  }
  .section3__text3{
    position: absolute;
    top: 83%;
    left: 40%;
    font-size: 14px;
    font-family: 'Metropolis-Regular';
    color: #A3A3A3;
    text-decoration: line-through;
  }
  .section3__text4{
    position: absolute;
    top: 86%;
    left: 40%;
    font-size: 14px;
    font-family: 'Metropolis-Regular';
    
  }
    .blub{
      position: absolute;
      top: 15%;
      left:10%;
    }
    .arrow_left2{
      position: absolute;
    top:62.4%;
    left:1%;
    background-color: rgba($color: rgb(0, 0, 0), $alpha: .3);
    border: none;
    height: 50px;
    width: 50px;
    cursor: pointer;
    .icon-mniejszo{
      color: #fff;
    }
    }
    .arrow_right2{
      position: absolute;
      top:62.4%;
      right:.2%;
      background-color: rgba($color: rgb(0, 0, 0), $alpha: .3);
      border: none;
      height: 50px;
      width: 50px;
      .icon-wikszo{
          color: #fff;
        }
    }
    .section3__btn--more3{
      
        position: absolute;
        top: 75%;
        left: 42%;
        background-color: #F74137;
        height: 55px;
        width: 318px;
        color: #fff;
        text-transform: uppercase;
        padding: 1%;
        border: 1px solid white;
        transition: 1s;
        cursor: pointer;
        
    }
    .section4__bg{
      position: absolute;
      top: 79.5%;
      width:100%;
      height: 595px;
      background-image: url(../photos/img_07.jpg);
    }
    .section4__color{
      position: absolute;
      top: 79.5%;
      background-color:rgba($color: #000, $alpha: .4);
      width:100%;
      height: 595px;
    }