@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?6rhmas");
  src: url("../fonts/icomoon.eot?6rhmas#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?6rhmas") format("truetype"), url("../fonts/icomoon.woff?6rhmas") format("woff"), url("../fonts/icomoon.svg?6rhmas#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dostepnosc:before {
  content: "\e900";
}

.icon-kontakt:before {
  content: "\e901";
}

.icon-ulubione:before {
  content: "\e902";
}

.icon-profil:before {
  content: "\e903";
}

.icon-wikszo:before {
  content: "\e904";
}

.icon-mniejszo:before {
  content: "\e905";
}

.icon-koszyk:before {
  content: "\e906";
}

.icon-play:before {
  content: "\e907";
}

.icon-widok_01:before {
  content: "\e908";
}

.icon-widok_02:before {
  content: "\e909";
}

.icon-wysylka:before {
  content: "\e90a";
}

.icon-x:before {
  content: "\e90b";
}

@font-face {
  font-family: Metropolis;
  src: url(../fonts/Metropolis-Bold.otf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  background-color: #fff;
}

header {
  position: relative;
  font-family: "Metropolis";
  height: 140px;
  width: 1920px;
  background-color: white;
  border-bottom: 1px solid #E1E2E8;
}
header .link_contact {
  position: absolute;
  left: 950px;
  top: 40px;
  text-decoration: none;
  color: #000;
}
header .icon-kontakt {
  position: absolute;
  top: 3px;
  right: 5px;
  font-size: 40px;
  padding: 5px;
}
header .Contcat {
  position: absolute;
  top: 20px;
  width: 200px;
  font-size: 20px;
}
header .link_fav {
  position: absolute;
  left: 1150px;
  top: 40px;
  text-decoration: none;
  color: #000;
}
header .icon-ulubione {
  position: absolute;
  top: 3px;
  right: 5px;
  font-size: 40px;
  padding: 5px;
}
header .Fav {
  position: absolute;
  top: 20px;
  width: 200px;
  font-size: 20px;
}
header .link_profil {
  position: absolute;
  left: 1350px;
  top: 40px;
  text-decoration: none;
  color: black;
}
header .icon-profil {
  position: absolute;
  top: 3px;
  right: 5px;
  font-size: 40px;
  padding: 5px;
}
header .Profil {
  position: absolute;
  top: 20px;
  width: 200px;
  font-size: 20px;
}
header .basket-squere {
  position: absolute;
  left: 1800px;
  top: 40px;
  display: flex;
  justify-content: right;
}
header .basket-squere .text_basket {
  position: absolute;
  left: 90px;
  top: 18px;
  display: inline-block;
  font-size: 20px;
}
header .basket-squere .icon-koszyk {
  position: absolute;
  left: 25px;
  top: 5px;
}
header .basket-squere .basket {
  position: absolute;
  display: inline-block;
  font-size: 40px;
  border: 1px solid #E1E2E8;
  width: 300px;
  height: 55px;
}
header .basket-squere .arowr {
  position: relative;
  background-color: #9BCB3B;
  width: 35px;
  height: 55px;
}
header .basket-squere .arowr .icon-wikszo {
  position: absolute;
  top: 18px;
  left: 10px;
  color: #fff;
}

nav {
  display: flex;
  flex-direction: row;
  font-family: "Metropolis";
  text-transform: uppercase;
  border-bottom: 1px solid #E1E2E8;
  width: 1920px;
  height: 57px;
  justify-content: space-around;
  align-items: center;
}
nav .tab {
  display: flex;
  flex-direction: row;
}
nav .tab1 {
  display: flex;
  flex-direction: row;
  padding: 40px;
}
nav .tab2 {
  display: flex;
  flex-direction: row;
  padding: 40px;
}
nav .tab3 {
  display: flex;
  flex-direction: row;
  padding: 40px;
}
nav .tab4 {
  display: flex;
  flex-direction: row;
  padding: 40px;
}
nav .tab5 {
  display: flex;
  flex-direction: row;
  padding: 40px;
}
nav .tab6 {
  display: flex;
  flex-direction: row;
  padding: 40px;
}/*# sourceMappingURL=strona.css.map */