*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{

    height: 3122px;
    width: 1920px;
    background-image: linear-gradient(#F5F7FA, #B8C6DB);
   
}
header{
    height: 83px;
    width: 1920px;
    .contact_btn{
     background-color: none;
    border-style: none;
    }

}