@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?6rhmas");
  src: url("../fonts/icomoon.eot?6rhmas#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?6rhmas") format("truetype"), url("../fonts/icomoon.woff?6rhmas") format("woff"), url("../fonts/icomoon.svg?6rhmas#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dostepnosc:before {
  content: "\e900";
}

.icon-kontakt:before {
  content: "\e901";
}

.icon-ulubione:before {
  content: "\e902";
}

.icon-profil:before {
  content: "\e903";
}

.icon-wikszo:before {
  content: "\e904";
}

.icon-mniejszo:before {
  content: "\e905";
}

.icon-koszyk:before {
  content: "\e906";
}

.icon-play:before {
  content: "\e907";
}

.icon-widok_01:before {
  content: "\e908";
}

.icon-widok_02:before {
  content: "\e909";
}

.icon-wysylka:before {
  content: "\e90a";
}

.icon-x:before {
  content: "\e90b";
}

@font-face {
  font-family: Metropolis;
  src: url(../fonts/Metropolis-Bold.otf);
}
@font-face {
  font-family: Metropolis-Light;
  src: url(../fonts/Metropolis-Light.otf);
}
@font-face {
  font-family: Metropolis-Regular;
  src: url(../fonts/Metropolis-Regular.otf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  background-color: #fff;
}

header {
  position: relative;
  font-family: "Metropolis";
  height: 140px;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #E1E2E8;
}
header .link_contact {
  position: absolute;
  left: 50%;
  top: 30%;
  text-decoration: none;
  color: #000;
}
header .logo {
  position: absolute;
  left: 1%;
  top: 20%;
  height: 70px;
  width: 230px;
}
header .icon-kontakt {
  position: absolute;
  top: 3%;
  right: 5%;
  font-size: 40px;
  padding: 5px;
}
header .Contcat {
  position: absolute;
  top: 20px;
  width: 200px;
  font-size: 20px;
}
header .link_fav {
  position: absolute;
  left: 60%;
  top: 31%;
  text-decoration: none;
  color: #000;
}
header .icon-ulubione {
  position: absolute;
  top: 3%;
  right: 5%;
  font-size: 40px;
  padding: 5px;
}
header .Fav {
  position: absolute;
  top: 20px;
  width: 200px;
  font-size: 20px;
}
header .link_profil {
  position: absolute;
  left: 70%;
  top: 30%;
  text-decoration: none;
  color: black;
}
header .icon-profil {
  position: absolute;
  top: 3%;
  right: 5%;
  font-size: 40px;
  padding: 5px;
}
header .Profil {
  position: absolute;
  top: 20px;
  width: 200px;
  font-size: 20px;
}
header .header__squere {
  position: absolute;
  right: 10%;
  width: 26px;
  height: 14px;
  background-color: #9BCB3B;
  border-radius: 2px;
}
header .basket-squere {
  position: absolute;
  left: 93%;
  top: 35%;
  display: flex;
  justify-content: right;
}
header .basket-squere .text_basket {
  position: absolute;
  left: 28%;
  top: 35%;
  display: inline-block;
  font-size: 20px;
}
header .basket-squere .icon-koszyk {
  position: absolute;
  left: 6%;
  top: 10%;
}
header .basket-squere .basket {
  position: absolute;
  display: inline-block;
  font-size: 40px;
  border: 1px solid #E1E2E8;
  width: 300px;
  height: 55px;
}
header .basket-squere .arowr {
  position: relative;
  background-color: #9BCB3B;
  width: 35px;
  height: 55px;
}
header .basket-squere .arowr .icon-wikszo {
  position: absolute;
  top: 35%;
  left: 30%;
  color: #fff;
}

nav {
  display: flex;
  flex-direction: row;
  font-family: "Metropolis";
  text-transform: uppercase;
  border-bottom: 1px solid #E1E2E8;
  width: 1920px;
  height: 57px;
  justify-content: space-around;
  align-items: center;
}
nav .tab {
  display: flex;
  flex-direction: row;
  padding: 40px;
}
nav .link {
  text-decoration: none;
  color: #000;
}

main {
  position: relative;
  height: 2491px;
  width: 1920px;
  background-color: #F2F3F4;
}
main .showroom {
  background-image: url(../photos/img_01.jpg);
  position: absolute;
  left: 1%;
  top: 2%;
  height: 595px;
  width: 1860px;
  cursor: pointer;
}
main .arrow_left {
  position: absolute;
  top: 42%;
  left: 0%;
  background-color: none;
  border: none;
  height: 50px;
  width: 50px;
  cursor: pointer;
}
main .arrow_right {
  position: absolute;
  top: 42%;
  right: 0%;
  background-color: none;
  border: none;
  height: 50px;
  width: 50px;
}
main .more_btn {
  position: absolute;
  top: 66%;
  left: 7%;
  background-color: rgba(0, 0, 0, 0);
  height: 55px;
  width: 210px;
  color: #fff;
  text-transform: uppercase;
  padding: 1%;
  border: 1px solid white;
  transition: 1s;
  cursor: pointer;
}
main .more_btn:hover {
  background-color: #F74137;
  border: none;
}
main .headline {
  position: absolute;
  top: 28%;
  left: 7%;
  color: #fff;
  font-size: 44px;
  font-family: "Metropolis";
}
main .subheading {
  position: absolute;
  left: 6.8%;
  top: 36%;
  color: #fff;
  font-size: 44px;
  font-family: "Metropolis-Light";
}
main .text_headline {
  position: absolute;
  top: 48%;
  left: 7%;
  color: #fff;
  font-size: 22px;
  width: 400px;
  font-family: "Metropolis-Regular";
  line-height: 130%;
}
main .tile1 {
  position: absolute;
  top: 27%;
  left: 1%;
  width: 600px;
  height: 400px;
  background-image: url(../photos/img_02.jpg);
}

.tile2 {
  position: absolute;
  top: 27%;
  left: 34%;
  width: 600px;
  height: 400px;
  background-image: url(../photos/img_03.jpg);
}

.tile3 {
  position: absolute;
  top: 27%;
  left: 66.7%;
  width: 600px;
  height: 400px;
  background-image: url(../photos/img_05.jpg);
}

.tile1_text1, .tile1_text2, .tile2_text1, .tile2_text2, .tile3_text1, .tile3_text2 {
  color: #fff;
  font-size: 44px;
}

.tile1_text1, .tile2_text1, .tile3_text1 {
  position: absolute;
  left: 8%;
  top: 29%;
  font-family: "Metropolis";
}

.tile1_text2, .tile2_text2, .tile3_text2 {
  position: absolute;
  top: 42%;
  left: 8%;
  font-family: "Metropolis-Light";
}

.more_btn2 {
  position: absolute;
  top: 66%;
  left: 7%;
  background-color: rgba(0, 0, 0, 0);
  height: 55px;
  width: 210px;
  color: #fff;
  text-transform: uppercase;
  padding: 1%;
  border: 1px solid white;
  transition: 1s;
  cursor: pointer;
}

.more_btn2:hover {
  background-color: #F74137;
  border: none;
}

.headline2 {
  position: absolute;
  top: 45%;
  left: 38%;
  width: 1920px;
  height: 71px;
}

.section3__headline--text {
  font-family: "Metropolis";
  font-size: 44px;
}/*# sourceMappingURL=strona.css.map */